/* src/App.css */
.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  color: white;
}

.App-header {
  padding: 20px;
}

.asteroid-list {
  margin-top: 20px;
  max-height: 70vh;
  overflow-y: auto;
  border: 1px solid #61dafb;
  border-radius: 8px;
  padding: 10px;
  display: inline-block;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  background-color: #3a404c;
  margin: 5px 0;
  padding: 10px;
  border-radius: 4px;
  text-align: left;
}